<html>
<!--Head-->
<head>
    <title>Club Leones - TaeKwonDo</title>
</head>

<div class="card">
    <!--Header del recuadro Alumnos-->
    <div class="card-header contenido-tabla-header">
        <h3>Alumnos</h3>
        <button style="float: right;" (click)="openModalAlumno()" type="button" class="btn btn-info btn-sm"> Agregar Alumno
        </button>
    </div>

    <!--Body-->
    <div class="table nuestra-tabla">
        <!--Tabla que muestra a todos los alumnos registrados en el sistema-->
        <table>
            <thead class="thead">
                <tr>
                    <th>Nombre</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                    <th>Actividad</th>
                    <th>Grado</th>
                    <th>Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let alumno of alumnos">
                    <td hidden>{{ alumno.id }}</td>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.a_paterno }}</td>
                    <td>{{ alumno.a_materno }}</td>
                    <td>{{ alumno.actividad }}</td>
                    <td>{{ alumno.grado }}</td>
                    <td>{{ alumno.usuario }}</td>
                    <td><button (click)="openModalVerAlumno(alumno.id)">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br><br>

<div class="modal" id="alumnoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Nuevo Alumno</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form [formGroup]="alumnoForm" (ngSubmit)="createAlumno()">
                    <!-- Input para el nombre del nuevo alumno-->
                    <div class="form-group">
                        <label for="nombre">Nombre:&nbsp;</label>
                        <input type="text" formControlName="nombre" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para el apellido paterno del nuevo alumno-->
                    <div class="form-group">
                        <label for="a_paterno">Apellido Paterno:&nbsp;</label>
                        <input type="text" formControlName="a_paterno" [ngClass]="{ 'is-invalid': submitted && f.a_paterno.errors }">
                        <div *ngIf="submitted && f.a_paterno.errors" class="invalid-feedback">
                            <div *ngIf="f.a_paterno.errors.required">El apellido paterno del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para el apellido materno del nuevo alumno-->
                    <div class="form-group">
                        <label for="a_materno">Apellido Materno:&nbsp;</label>
                        <input type="text" formControlName="a_materno" [ngClass]="{ 'is-invalid': submitted && f.a_materno.errors }">
                        <div *ngIf="submitted && f.a_materno.errors" class="invalid-feedback">
                            <div *ngIf="f.a_materno.errors.required">El apellido materno del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para la fotografía del nuevo alumno-->
                    <div class="form-group">
                        <label for="fotografia">Fotografía:&nbsp;</label>
                        <input type="file" formControlName="fotografia" [ngClass]="{ 'is-invalid': submitted && f.fotografia.errors }">
                        <div *ngIf="submitted && f.fotografia.errors" class="invalid-feedback">
                            <div *ngIf="f.fotografia.errors.required">La fotografía del alumno es obligatoria</div>
                        </div>
                    </div>

                    <!-- Input para la fecha de nacimiento del nuevo alumno-->
                    <div class="form-group">
                        <label for="fecha_nacimiento">Fecha de nacimiento:&nbsp;</label>
                        <input type="date" formControlName="fecha_nacimiento" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.fecha_nacimiento.errors }" />
                        <div *ngIf="submitted && f.fecha_nacimiento.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_nacimiento.errors.required">La fecha de nacimiento del alumno es obligatoria</div>
                        </div>
                    </div>

                    <!-- Input para el seguro médico del nuevo alumno-->
                    <div class="form-group">
                        <label for="seguro_medico">Seguro médico:&nbsp;</label>
                        <input type="text" formControlName="seguro_medico" [ngClass]="{ 'is-invalid': submitted && f.seguro_medico.errors }">
                        <div *ngIf="submitted && f.seguro_medico.errors" class="invalid-feedback">
                            <div *ngIf="f.seguro_medico.errors.required">El seguro médico del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para el certificado médico del nuevo alumno-->
                    <div class="form-group">
                        <label for="certificado_medico">Certificado médico:&nbsp;</label>
                        <input type="file" formControlName="certificado_medico" [ngClass]="{ 'is-invalid': submitted && f.certificado_medico.errors }">
                        <div *ngIf="submitted && f.certificado_medico.errors" class="invalid-feedback">
                            <div *ngIf="f.certificado_medico.errors.required">El certificado médico del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para la carta responsiva del nuevo alumno-->
                    <div class="form-group">
                        <label for="carta_responsiva">Carta responsiva:&nbsp;</label>
                        <input type="file" formControlName="carta_responsiva" [ngClass]="{ 'is-invalid': submitted && f.carta_responsiva.errors }">
                        <div *ngIf="submitted && f.carta_responsiva.errors" class="invalid-feedback">
                            <div *ngIf="f.carta_responsiva.errors.required">La carta responsiva del alumno es obligatoria</div>
                        </div>
                    </div>

                    <!-- Input para la actividad del nuevo alumno-->
                    <div class="form-group">
                        <label for="actividad">Actividad:&nbsp;</label>
                        <input type="text" formControlName="actividad" [ngClass]="{ 'is-invalid': submitted && f.actividad.errors }">
                        <div *ngIf="submitted && f.actividad.errors" class="invalid-feedback">
                            <div *ngIf="f.actividad.errors.required">La actividad del alumno es obligatoria</div>
                        </div>
                    </div>

                    <!-- Input para el grado de la actividad del nuevo alumno-->
                    <div class="form-group">
                        <label for="grado">Grado:&nbsp;</label>
                        <input type="text" formControlName="grado" [ngClass]="{ 'is-invalid': submitted && f.grado.errors }">
                        <div *ngIf="submitted && f.grado.errors" class="invalid-feedback">
                            <div *ngIf="f.grado.errors.required">El grado de la actividad del alumno es obligatorio</div>
                        </div>
                    </div>

                    <!-- Input para la actividad del nuevo alumno-->
                    <div class="form-group">
                        <label for="usuario">Usuario:&nbsp;</label>
                        <input type="text" formControlName="usuario" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
                        <div *ngIf="submitted && f.usuario.errors" class="invalid-feedback">
                            <div *ngIf="f.usuario.errors.required">El usuario del alumno es obligatoria</div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<br><br>

<div class="modal" id="verAlumnoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Detalles del Alumno</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <p>Debería haber detalles del alumno aquí</p>
            </div>
        </div>
    </div>
</div>

</html>