<!--Navegador-->
<header class="contenedor-nav">
    <div class="barra">
        <a href="/">
        <h3>CLUB LEONES</h3>
        </a>

        <nav class="navegador">
            <a href="/alumno">Alumnos</a>
            <a href="/evento">Evento</a>
            <a href="/examen">Examenes</a>
            <a href="OTRA COSA POR SI LAS DUDAS">Lo que falte xD</a>
        </nav>
    </div>
</header>

<!--Página a mostrar-->
<div class="container-global caja-flex-horizontal">
    <div class="main">
        <router-outlet></router-outlet>
    </div>
    <div class="tablero">
        Aquí irá el tablero fijo.
    </div>
</div>

<!--Footer-->
<footer class="contenedor-footer">
    <div class="barra">
        <p><i class="far fa-copyright"></i>&nbsp;2020. Derechos reservados.</p>
        <p>Desarrollado por Dev-Crew&nbsp;<i class="fas fa-laptop-code"></i></p>
    </div>
</footer>
