<html>

<!--HEAD-->
<head></head>

<!--Sección de Nosotros-->
<body>
    <header class="contenedor-inicio">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicadores-->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>

            <!--Wrapper for slides-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img-mision">
                      <h2>Misión</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu aliquet eros. Sed ultrices, nibh id vulputate facilisis, felis ante blandit erat, vel volutpat dui ante ac orci. Pellentesque interdum vel enim vitae lobortis. Nulla id facilisis sapien. Proin consectetur nisl non urna volutpat, ut volutpat tellus pellentesque. Pellentesque iaculis volutpat neque, ac imperdiet ipsum ullamcorper quis. Suspendisse blandit iaculis dolor et luctus. Suspendisse orci turpis, aliquam mattis volutpat eu, rutrum vitae sem. Integer fermentum arcu nec sapien dignissim feugiat. Nunc tincidunt orci vel velit posuere pharetra. In maximus feugiat nunc, eu accumsan ligula tincidunt quis. Aliquam placerat orci nisl, at commodo massa dapibus in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate ligula ac erat venenatis, vel bibendum turpis gravida.</p>
                  </div>
                </div>
            
                <div class="carousel-item">
                    <div class="img-vision">
                        <h2>Visión</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu aliquet eros. Sed ultrices, nibh id vulputate facilisis, felis ante blandit erat, vel volutpat dui ante ac orci. Pellentesque interdum vel enim vitae lobortis. Nulla id facilisis sapien. Proin consectetur nisl non urna volutpat, ut volutpat tellus pellentesque. Pellentesque iaculis volutpat neque, ac imperdiet ipsum ullamcorper quis. Suspendisse blandit iaculis dolor et luctus. Suspendisse orci turpis, aliquam mattis volutpat eu, rutrum vitae sem. Integer fermentum arcu nec sapien dignissim feugiat. Nunc tincidunt orci vel velit posuere pharetra. In maximus feugiat nunc, eu accumsan ligula tincidunt quis. Aliquam placerat orci nisl, at commodo massa dapibus in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate ligula ac erat venenatis, vel bibendum turpis gravida.</p>
                    </div>
                </div>
            
                <div class="carousel-item">
                  <div class="img-valores">
                      <h2>Valores</h2>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse eu aliquet eros. Sed ultrices, nibh id vulputate facilisis, felis ante blandit erat, vel volutpat dui ante ac orci. Pellentesque interdum vel enim vitae lobortis. Nulla id facilisis sapien. Proin consectetur nisl non urna volutpat, ut volutpat tellus pellentesque. Pellentesque iaculis volutpat neque, ac imperdiet ipsum ullamcorper quis. Suspendisse blandit iaculis dolor et luctus. Suspendisse orci turpis, aliquam mattis volutpat eu, rutrum vitae sem. Integer fermentum arcu nec sapien dignissim feugiat. Nunc tincidunt orci vel velit posuere pharetra. In maximus feugiat nunc, eu accumsan ligula tincidunt quis. Aliquam placerat orci nisl, at commodo massa dapibus in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce vulputate ligula ac erat venenatis, vel bibendum turpis gravida.</p>
                  </div>
                </div>
            </div>

            <!--Controls-->
            <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#myCarousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
</body>

</html>
