<html>

<!--HEAD-->
<head></head>

<!--Sección de Nosotros-->
<body>
    <header class="contenedor-inicio">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!--Indicadores-->
            <ul class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ul>

            <!--Wrapper for slides-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="img-mision">
                      <h2>Misión</h2>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="img-vision">
                      <h2>Visión</h2>
                  </div>
                </div>
            
                <div class="carousel-item">
                  <div class="img-valores">
                      <h2>Valores</h2>
                  </div>
                </div>
            </div>

            <!--Controls-->
            <a href="#myCarousel" class="carousel-control-prev" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a href="#myCarousel" class="carousel-control-next" data-slide="next">
                <span class="carousel-control-next-icon"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
</body>

</html>
