<!--Head-->
<head>
    <title>Eventos</title>
</head>

<!--Tabla de Eventos-->
<div class="card">
    <!--Header del recuadro Eventos-->
    <div class="card-header contenido-tabla-header">
        <h3>Eventos</h3>
        <button style="float: right;" (click)="openModalEvento()" type="button" class="btn btn-info btn-sm"> Agregar Evento </button>
    </div>

    <!--Body-->
    <div class="table nuestra-tabla">
        <!--Tabla que muestra todos los eventos registrados en el sistema-->
        <table>
            <thead class="thead">
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Costo por entrada</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos">
                    <td hidden>{{ evento.id_evento }}</td>
                    <td>{{ evento.nombre }}</td>
                    <td>Inicia el {{ evento.fecha_inicio.substring(0, 10) }} y termina el {{ evento.fecha_fin.substring(0, 10) }}</td>
                    <td>{{ evento.costo }}</td>
                    <td><button (click)="openModalVerEvento(evento)">Detalles</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<br><br>

<a href="/tipo_evento">>>Ir a Tipos de eventos</a>

<br><br>

<!--Modal para agregar un evento-->
<div class="modal" id="eventoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Header de Modal para agregar evento-->
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!--Cuerpo del modal para agregar evento-->
            <div class="modal-body">
                <form [formGroup]="eventoForm" (ngSubmit)="createEvento()">

                    <!--Input para el nombre del evento-->
                    <div class="form-group">
                        <label for="nombre">Nombre:&nbsp;</label>
                        <input type="text" formControlName="nombre"
                        [ngClass]="{ 'is-invalid':submitted && f.nombre.errors}">
                        <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                            <div *ngIf="f.nombre.errors.required">El nombre del evento es obligatorio
                            </div>
                        </div>
                    </div>

                    <!--Input para la fecha de inici del evento-->
                    <div class="form-group">
                        <label for="fecha_inicio">Fecha de inicio/inauguración:&nbsp;</label>
                        <input type="date" formControlName="fecha_inicio" class="form-control" [ngClass]="{ 'is-invalid':submitted && f.fecha_inicio.errors}">
                        <div *ngIf="submitted && f.fecha_inicio.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_inicio.errors.required">La fecha de inicio del evento es obligatoria</div>
                        </div>
                    </div>

                    <!--Input para la fecha de finalización del evento-->
                    <div class="form-group">
                        <label for="fecha_fin">Fecha de fin/clausura:&nbsp;</label>
                        <input type="date" formControlName="fecha_fin" class="form-control" [ngClass]="{ 'is-invalid':submitted && f.fecha_fin.errors}">
                        <div *ngIf="submitted && f.fecha_fin.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha_fin.errors.required">La fecha de finalización del evento es obligatoria</div>
                        </div>
                    </div>

                    <!--Input para el costo de la entrada al evento-->
                    <div class="form-group">
                        <label for="costo">Costo por entrada: &nbsp;</label>
                        <input type="number" min="0" formControlName="costo" [ngClass]="{'is.invalid': submitted && f.costo.errors}">
                        <div *ngIf="submitted && f.costo.errors" class="invalid-feedback">
                            <div *ngIf="f.costo.errors.required">El costo de entrada al evento es obligatorio</div>
                        </div>
                    </div>

                    <!--Input para la descripción del evento-->
                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <textarea rows="3" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }"></textarea>
                        <div *ngIf="submitted && f.descripcion.errors" class="invalid-feedback">
                          <div *ngIf="f.descripcion.errors.required">La descripcion del evento es obligatoria</div>
                        </div>
                    </div>

                    <p>FALTA VER LO DE TIPO DE EVENTO</p>

                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>

                    <div>
                        <button class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>

            <!--Footer-->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<!--Modal para ver un evento-->
<div class="modal" id="verEventoModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title"> Detalles del Evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!--Body del modal-->
            <div class="modal-body">
                <div *ngIf="eventoDetalles">
                    <p>Nombre del evento:&nbsp;{{ eventoDetalles.nombre }}</p>
                    <p>Fecha de inicio/inauguración del evento:&nbsp;{{ eventoDetalles.fecha_inicio }}</p>
                    <p>Fecha de fin/clausura del evento:&nbsp;</p>
                    <p>Costo por entrada:&nbsp;${{ eventoDetalles.costo }}</p>
                    <p>Descripción:&nbsp;{{ eventoDetalles.descripcion }}</p>
                    <button>Inscribir Alumno</button>
                    <br><br>
                    <div class="caja-flex-horizontal">
                        <button (click)="openModalModificarEvento(eventoDetalles)">Modificar</button>
                        <button (click)="deleteEvento(eventoDetalles.id_evento)">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Modal para modificar un evento-->
<div class="modal" id="modificarEvento">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Header-->
            <div class="modal-header">
                <h4 class="modal-title">Nuevo Evento</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!--Body-->
            <div class="modal-body">
                <form [formGroup]="editarEventoForm" (ngSubmit)="updateEvento()">

                    <!--Input para el nombre del evento-->
                    <div class="form-group">
                        <label for="nombre">Nombre<span class="text-danger">*</span></label>
                        <input type="text" formControlName="nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && fe.nombre.errors }">
                        <div *ngIf="submitted && fe.nombre.errors" class="invalid-feedback">
                            <div *ngIf="fe.nombre.errors.required">El nombre del evento es obligatorio
                            </div>
                        </div>
                    </div>

                    <!--Input para la fecha de inici del evento-->
                    <div class="form-group">
                        <label for="fecha_inicio">Fecha de inicio/inauguración<span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_inicio" class="form-control" [ngClass]="{ 'is-invalid':submitted && fe.fecha_inicio.errors}">
                        <div *ngIf="submitted && fe.fecha_inicio.errors" class="invalid-feedback">
                            <div *ngIf="fe.fecha_inicio.errors.required">La fecha de inicio del evento es obligatoria</div>
                        </div>
                    </div>

                    <!--Input para la fecha de finalización del evento-->
                    <div class="form-group">
                        <label for="fecha_fin">Fecha de fin/clausura<span class="text-danger">*</span></label>
                        <input type="date" formControlName="fecha_fin" class="form-control" [ngClass]="{ 'is-invalid':submitted && fe.fecha_fin.errors}">
                        <div *ngIf="submitted && fe.fecha_fin.errors" class="invalid-feedback">
                            <div *ngIf="fe.fecha_fin.errors.required">La fecha de finalización del evento es obligatoria</div>
                        </div>
                    </div>

                    <!--Input para el costo de la entrada al evento-->
                    <div class="form-group">
                        <label for="costo">Costo por entrada<span class="text-danger">*</span></label>
                        <input type="number" min="0" formControlName="costo" class="form-control" [ngClass]="{'is.invalid': submitted && fe.costo.errors}">
                        <div *ngIf="submitted && fe.costo.errors" class="invalid-feedback">
                            <div *ngIf="fe.costo.errors.required">El costo de entrada al evento es obligatorio</div>
                        </div>
                    </div>

                    <!--Input para la descripción del evento-->
                    <div class="form-group">
                        <label for="descripcion">Descripción<span class="text-danger">*</span></label>
                        <textarea rows="3" formControlName="descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && fe.descripcion.errors }"></textarea>
                        <div *ngIf="submitted && fe.descripcion.errors" class="invalid-feedback">
                          <div *ngIf="fe.descripcion.errors.required">La descripcion del evento es obligatoria</div>
                        </div>
                    </div>

                    <p>FALTA VER LO DE TIPO DE EVENTO</p>

                    <br>

                    <p class="text-right"><span class="text-danger">*</span> Campos requeridos</p>

                    <div>
                        <button class="btn btn-success btn-block">Guardar</button>
                    </div>
                </form>
            </div>

            <!--Footer que contiene el botón de guardar-->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>